*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    background: linear-gradient(to top right, rgb(255, 251, 0),rgb(0, 183, 255) );
}
.buscador{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.buscador input{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    height: 35px;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
}
#gif-ap{
    position:absolute;
    left: 800px;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: 800ms all ease;
}
.title{
    padding: 10px;
    font-size: 46px;
    transition: 800ms all ease;
}
.btn-cont{
    width: 100%;
    text-align: center;
}
.btn-cont button{
    cursor: pointer;
    border: none;
    font-size: 50px;
    margin: 40px;
    height: 60px;
    color: white;
    transition: 300ms all ease;
}
.btn-cont button:hover{
    box-shadow: 2px 4px 8px;
}
.btn-cont #left{
    transform: skew(20deg);
    background: rgb(122, 10, 10);
    
}
.btn-cont #right{
    transform: skew(-20deg);
    background: rgb(122, 10, 10);
    
}
.btn-cont button:hover{
    color: red;
}
.tag{
    color: white;
    margin: 10px;
    font-family: Arial;
    font-size: 25px;
    width: 28%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 black ;
    transition: 300ms all ease;
    border-radius: 10px;
    cursor: pointer;
}
.tag:hover{
    box-shadow: 10px 10px 0 black ;

}
.imagen {
    transition: 300ms all ease;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.title-img{
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.title-img img{
    width: 50%;
}

.id{
    display: block;
}
.ap{
    transform: rotateY(-180deg);
}
.id_hidden{
    display: none;
    
}
#parametros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    transition: 300ms all ease;
}