*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    background: linear-gradient(to  right, rgb(255, 251, 0),rgb(0, 247, 255) );
}
.buscador{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.buscador input{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    height: 35px;
    width: 40%;
    transition: 100ms all ease;
    border-radius: 10px;
    padding: 10px;
}
.selector{
   padding: 0.7rem;
   margin-right: 0.7rem;
   background-color: #007de43d;
   color: white;
   border: none;
   
}
#filtros{
    width: 80%;
    margin: auto;
    text-align: center;
}
#gif-ap{
    position:absolute;
    left: 800px;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: 300ms all ease;
}
.title{
    padding: 10px;
    font-size: 46px;
    transition: 2s all ease;
}
.btn-cont{
    width: 100%;
    text-align: center;
}
.btn-cont button{
    cursor: pointer;
    border: none;
    font-size: 50px;
    margin: 40px;
    height: 60px;
    color: white;
    transition: 300ms all ease;
}
.btn-cont button:hover{
    box-shadow: 2px 4px 8px;
}
.btn-cont #left{
    transform: skew(20deg);
    background: rgb(122, 10, 10);
    display: none;
    
}
.btn-cont #right{
    transform: skew(-20deg);
    background: rgb(122, 10, 10);
    
}
.btn-cont button:hover{
    color: red;
}
.tag{
    color: white;
    margin: 10px;
    font-family: Arial;
    font-size: 25px;
    width: 28%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 black ;
    transition: 300ms all ease;
    border-radius: 10px;
    cursor: pointer;
}
.tag:hover{
    box-shadow: 10px 10px 0 black ;
    background:linear-gradient(-45deg,#007de4, #00d4a3, #fbff2a,#fd0606 ) ;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    color: black;
}
hr{
    border:none;
}
.imagen {
    transition: 300ms all ease;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.imagen.tag:hover{
    
    box-shadow: -10px 10px 0 black ;
}
.title-img{
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.title-img img{
    width: 50%;
}

.id{
    display: block;
    
}
.ap{
    transform: rotateY(-180deg);
}
.id_hidden{
    display: none;
}
#parametros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    transition: 300ms all ease;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}